.btn {
    display: inline-flex;
    border-radius: 50px;
    align-items: center;
}

.btn-lg {
    padding: 12px;
    background: var(--secondary);
    color: var(--primary);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold
}

.btn-xl {
    @apply py-2 px-7;
    background: var(--secondary);
    color: var(--primary);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold
}