.hero {
    @apply w-full h-screen;
    background: var(--primary);
    position: relative;

    .intro {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        @apply flex justify-between items-start;

        &-name {
            @apply flex gap-5;
            flex-direction: column;
            max-width: 313px;

            h3 {
                @apply text-white;
                font-size: 24px;
                font-family: 'Roboto', sans-serif;
                font-weight: bold
            }

            p {

                font-size: 20px;
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                color: #817474;
            }
        }





    }
}


.grid {
    @apply w-full h-screen;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

    .grid-one,
    .grid-two,
    .grid-three,
    .grid-four {
        border-bottom: 0.1px solid white;

    }

    .grid-one,
    .grid-two,
    .grid-three,
    .grid-five,
    .grid-six,
    .grid-seven {
        border-right: 0.1px solid white;
    }



}