.hero {
    @apply w-full h-screen flex items-center justify-center;
    background: var(--primary), #FFF;
    position: relative;

    .work {
        padding-top: 20px;
    }

    .wrap_btn-hero {
        margin-left: 50%;
        transform: translateX(-50%);

        button {
            margin-left: 50%;
            transform: translateX(-50%);
            margin-bottom: 20px;
        }
    }

    .wrap_button-scroll {
        @apply flex items-center;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);

        p {
            @apply text-white;
            font-size: 16px;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
        }
    }

    h1 {
        @apply flex text-white;
        flex-direction: column;
        font-family: 'Poller One', sans-serif;
        font-weight: bold;
        font-size: 128px;
        line-height: normal;
        width: 1102px;

        .front {
            text-align: end;
        }
    }


    .intro {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        @apply flex justify-between items-start;

        &-name {
            @apply flex gap-5;
            flex-direction: column;
            max-width: 313px;

            h3 {
                @apply text-white;
                font-size: 24px;
                font-family: 'Roboto', sans-serif;
                font-weight: bold
            }

            p {

                font-size: 20px;
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                color: #817474;
            }
        }
    }
}

.body_about {
    @apply w-full h-screen py-12;
    background: var(--primary), #FFF;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;

    h3 {
        @apply text-white mb-8;
        font-family: 'Poller One', sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .first_about {
        padding-right: 50px;

        p {
            text-align: justify;
        }
    }

    p {
        @apply text-white;
        font-family: 'Poller One';
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .second_about {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 70px;
        margin-left: 50px;

        figure {
            width: 279px;
            height: 279px;

            img {
                border-radius: 50%;
            }
        }

        p {
            margin-bottom: 20px;
        }
    }
}



.body_skills {
    @apply w-full h-screen py-12;
    background: var(--primary), #FFF;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;

    h3 {
        @apply text-white;
        font-family: 'Poller One', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 35px;
    }

    .design {
        margin-bottom: 37px;
    }

    .wrap_skills {
        width: 100px;
        height: 100px;
        border-radius: 50%;

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .second_skills {
        margin-left: 50px;

        .work_developer {
            @apply flex gap-5;
            flex-wrap: wrap;
        }
    }

}

.body_contact {
    @apply w-full h-screen relative flex items-center justify-center;
    background: var(--primary), #FFF;

    .wrap_sociaux {
        @apply flex w-full absolute pt-12 items-start justify-between;
        top: 0;
        left: 0;
    }
}

.lieu {
    @apply flex flex-col gap-3;

    div {
        @apply flex items-center gap-3;

        p {
            @apply text-white text-base;
            font-family: 'Roboto', sans-serif;
        }
    }
}

.sociaux {
    @apply flex flex-col items-center gap-8;

    h3 {
        @apply text-white;
        font-family: 'Poller One', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    div {
        @apply flex gap-4;

        svg {
            cursor: pointer;
        }
    }
}

.form_contact {
    @apply flex flex-col gap-5;
    width: 510px;

    label {
        @apply text-white
    }

    .css-l4u8b9-MuiInputBase-root-MuiInput-root::before,
    .css-1rcvvn7-MuiInputBase-root-MuiInput-root:before {
        border-bottom: 1px solid rgb(255 255 255 / 100%)
    }

    input,
    textarea {
        @apply text-white;
    }

    button {
        margin-left: 100%;
        transform: translateX(-100%);
    }
}

.hr {
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 0;

    p {
        @apply text-white;
        margin-top: 20px;
        text-align: center;
    }
}