header {
    position: absolute;
    bottom: 50px;
    left: 0;
    z-index: 2;
}

.menu-navigation {
    @apply flex text-white;

    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;


    .nav-link:hover {
        color: var(--blue);
    }


}