.grid_body {
    @apply w-full h-screen;

    position: absolute;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .grid_body-border {
        border-right: 1px solid #686868
    }
}