.grid_body {
    @apply w-full;
    height: 100%;
    pointer-events: none;

    position: absolute;
    top: 0;
    left: 0;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .grid_body-border {
        border-right: 1px solid #686868
    }
}