@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: linear-gradient(106deg, #131C33 0%, rgba(0, 0, 0, 0.96) 100%);
    --secondary: linear-gradient(106deg, #131C33 0%, rgba(255, 255, 255, 0.00) 100%);
    --blue: #37D0F0;
    --blue-second: #121A2E;

}

.wrap {
    padding: 0 60px;
}